#prediction > form > input[name="pattern"] {
  text-transform: uppercase;
}

#prediction > table {
  margin-top: 20px;
}

#pipeline > form, #pipeline > div {
  display: inline-block;
  vertical-align: top;
}

#pipeline > form {
  width: 33%;
}

#pipeline > div {
  width: 66%;
}

#pipeline .panel {
  height: 540px;
  width: 100%;
  overflow-y: scroll;
}

#instructions {
  height: 540px;
  margin-bottom: 20px;
}

.tab-content .tab-pane {
  padding: 20px;
}