#prediction > form > input[name="pattern"] {
  text-transform: uppercase;
}

#prediction > form {
  margin-bottom: 20px;
}

#prediction .table {
  margin-bottom: 0;
}

#prediction .table th {
  border-bottom: 0;
}

#prediction .table-header-wrapper {
  padding-right: 17px;
}

#prediction .table-body-wrapper {
  height: 500px;
  overflow-y: scroll;
}

#pipeline > form, #pipeline > div {
  display: inline-block;
  vertical-align: top;
}

#pipeline > form {
  width: 33%;
}

#pipeline > div {
  width: 66%;
}

#pipeline .panel {
  height: 540px;
  width: 100%;
  overflow-y: scroll;
}

#instructions {
  height: 540px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.tab-content .tab-pane {
  padding: 20px;
}